<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

TEST HTML


<form action="{% url 'asset_report' %}" method="POST">{% csrf_token %}

    <textarea cols="100" rows="15" name="asset_data">



    </textarea>
    <input type="submit" value="测试提交">

</form>
<div >
    <div style="background-color: aliceblue;padding: 30px;">
        {% for msg in response.info %}
            <pre>{{ msg }}</pre>
        {% endfor %}
    </div>
    <div style="background-color: gainsboro;padding: 30px">
        {% for msg in response.error %}
            <p>{{ msg }}</p>
        {% endfor %}
    </div>
</div>
</body>
</html>